.detail{
    background-color: bisque;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 16px;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titulo{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-style:bold;
}